<ul class="small-12 columns {{side}}">
  {{#each links}}                    
    <li>
      <a href="#" data-action="{{dataAction}}" data-params="{{{dataParams}}}" data-coremetrics="{{dataCoremetrics}}">
      {{i18n qti18n}}
      </a>
    </li>                              
  {{/each}}
</ul>